<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>[ZPM Kopacz] Rejestracja użytkownika</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>
    <body>
        <p>Witaj!</p>
        <p>
            Nowy użytkownik chce uzyskać dostęp do systemu. Dane użytkownika:
        </p>
        <p>
            <table>
                <tbody>
                    <tr>
                        <td>Login: </td>
                        <td th:text="|${user.login}|"></td>
                    </tr>
                    <tr>
                        <td>E-mail: </td>
                        <td th:text="|${user.email}|"></td>
                    </tr>
                </tbody>
            </table>
        </p>
        <p>
            Jeśli chcesz aktywować konto tego użytkownika, kliknij w poniższy link:<br/>
            <a th:href="@{|${baseUrl}/#/activate?key=${user.activationKey}|}">link aktywacyjny</a>
        </p>
        <p>
            Pozdrawiam,<br/>
            <em>CompanyApp</em>
        </p>
    </body>
</html>
