<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>[ZPM Kopacz] Resetowanie hasła</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>
    <body>
        <p>
            Witaj <span th:text="${user.login}">użytkownik</span>!
        </p>
        <p>
            Dla Twojego konta został rozpoczęty proces resetowania hasła. Aby zresetować hasło kliknij w poniższy link:<br/>
            <a th:href="@{|${baseUrl}/#/reset/finish?key=${user.resetKey}|}">link do resetu</a>
        </p>
        <p>
            Pozdrawiam,<br/>
            <em>CompanyApp</em>
        </p>
    </body>
</html>
