<div>
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <h1>Zresetuj swoje hasło</h1>

            <div class="alert alert-danger" ng-show="vm.error">
                <strong>Nie udało się zresetować hasła!</strong><br/>
                Pamiętaj, że żądanie resetu hasła jest aktualne tylko przez 24h.
            </div>

            <div class="alert alert-danger" ng-show="vm.doNotMatch">
                <p>Podane hasła nie są identyczne!</p>
            </div>

            <div class="alert alert-danger" ng-show="vm.keyMissing">
                <strong>Brak klucza procesu resetu hasła!</strong><br/>
                Skontaktuj się z administratorem w celu uzyskania pomocy.
            </div>

            <div class="alert alert-warning" ng-hide="vm.success || vm.keyMissing">
                <p>Proszę podać nowe hasło.</p>
            </div>

            <div class="alert alert-success" ng-show="vm.success">
                <strong>Twoje hasło zostało zresetowane!</strong><br/>
                Kliknij <a class="alert-link" href="" ng-click="vm.login()">tutaj</a>, aby się zalogować.
            </div>

            <div ng-hide="vm.keyMissing">
                <form ng-show="!vm.success" name="form" role="form" novalidate ng-submit="vm.finishReset()" show-validation>
                    <div class="form-group">
                        <label class="control-label" for="password">Nowe hasło</label>
                        <input type="password" class="form-control" id="password" name="password" placeholder="Nowe hasło"
                               ng-model="vm.resetAccount.password" ng-minlength=4 ng-maxlength=50 required>
                        <div ng-show="form.password.$dirty && form.password.$invalid">
                            <p class="help-block" ng-show="form.password.$error.required">
                                Hasło jest wymagane.
                            </p>
                            <p class="help-block" ng-show="form.password.$error.minlength">
                                Hasło musi mieć co najmniej 4 znaki.
                            </p>
                            <p class="help-block" ng-show="form.password.$error.maxlength">
                                Hasło musi mieć co najwyżej 50 znaków.
                            </p>
                        </div>
                        <password-strength-bar password-to-check="vm.resetAccount.password"></password-strength-bar>
                    </div>

                    <div class="form-group">
                        <label class="control-label" for="confirmPassword">Powtórz nowe hasło</label>
                        <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" placeholder="Nowe hasło"
                               ng-model="vm.confirmPassword" ng-minlength=4 ng-maxlength=50 required>
                        <div ng-show="form.confirmPassword.$dirty && form.confirmPassword.$invalid">
                            <p class="help-block" ng-show="form.confirmPassword.$error.required">
                                Hasło jest wymagane.
                            </p>
                            <p class="help-block" ng-show="form.confirmPassword.$error.minlength">
                                Hasło musi mieć co najmniej 4 znaki.
                            </p>
                            <p class="help-block" ng-show="form.confirmPassword.$error.maxlength">
                                Hasło musi mieć co najwyżej 50 znaków.
                            </p>
                        </div>
                    </div>

                    <button type="submit" ng-disabled="form.$invalid" class="btn btn-primary">Resetuj hasło</button>
                </form>
            </div>

        </div>
    </div>
</div>
