<div>
    <h2>Zasoby</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="supply.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span >
                        Nowy zasób
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span>ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="serialNumber"><span> Przyprawa</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="expirationDate"><span>Ilość</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="amount"><span>Numer partii</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="spiceId"><span>Data ważności</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat-start="supplyGroup in vm.supplyGroups track by supplyGroup.spice.id"
                    ng-click="supplyGroup.show = !supplyGroup.show">
                    <td></td>
                    <td>{{supplyGroup.spice.name}}</td>
                    <td>{{supplyGroup.totalAmount | number:'3'}} kg</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    </td>
                </tr>
                <tr ng-repeat-end ng-repeat="supply in supplyGroup.items track by supply.id"
                    ng-show="supplyGroup.show">
                    <td><a ui-sref="supply-detail({id:supply.id})">{{supply.id}}</a></td>
                    <td></td>
                    <td>{{supply.amount | number:'3'}} kg</td>
                    <td>{{supply.serialNumber}}</td>
                    <td>{{supply.expirationDate | date:'dd/MM/yyyy'}}</td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="supply-detail({id:supply.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="supply.edit({id:supply.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="supply.delete({id:supply.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
        <uib-pagination class="pagination-sm" total-items="vm.totalItems" items-per-page="vm.itemsPerPage" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
    </div>
</div>
